Source: vdr-plugin-avahi4vdr
Section: video
Priority: extra
Maintainer: Lars Hanisch <dvb@flensrocker.de>
Build-Depends: debhelper (>= 8), vdr-dev (>= 1.7.27), pkg-config, libavahi-client-dev, libavahi-common-dev, libavahi-glib-dev, uuid-dev
Standards-Version: 3.9.1
Homepage: https://github.com/flensrocker/vdr-plugin-avahi4vdr

Package: vdr-plugin-avahi4vdr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A VDR plugin, publish or browser for network service with avahi
 This VDR-plugin will expose some methods to publish or browser for
 network service announced by the avahi-daemon.

Package: vdr-plugin-avahi4vdr-dbg
Architecture: any
Section: debug
Priority: extra
Depends: vdr-plugin-avahi4vdr (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for vdr-plugin-avahi4vdr
 .
 This package contains only the debugging symbols for vdr-plugin-avahi4vdr 

